<%- include('includes/head.ejs') -%>
</head>
  <body style="<%= sumgpa < 2.00 ? 'background-color: #F28444' : 'background-color : #95bfa4'%>">
    <%- include('includes/headerbar.ejs') -%>
    <main class="app">
      <div class="gpa">
        <div>
          <p class="gpa__label">Semester G.P.A.</p>
          <p class="gpa__date">1/2566</p>
        </div>
        <p class="gpa__value"><%=sumgpa%></p>
      </div>
      <div class="transcript">
        <%for (let subject of subjs){%>
            <div class="transcript__row">
                <div class="transcript__code"><%= subject.idsubject %></div>
                <div class="transcript__subject">
                    <%= subject.name %>
                </div>
                <div class="transcript__grade"><%= subject.credit %></div>
                <div class="transcript__credit"><%= subject.grade %></div>
            </div>
        <%} %>
      </div>
      <div class="total">
        <div>
          <p class="total__label">Date records:</p>
          <p class="total__date">As of <span class="date">12/08/2023</span></p>
        </div>
        <p class="total__value">Total Credits: <%=sumcr%></p>
      </div>
    </main>
  </body>
</html>